body {
    background-color: black;

}
div#board{
    position: relative;
    width:1024px;
    height:925px;
    margin:auto;
    background: url("") no-repeat;
}
div#message{
    position:absolute;
    top:0px;
    left:opx;
    color:rgb(80,170,20);
}
.hit{
    background:url("") no-repeat center center;
}
.miss{
    background:url("") no-repeat center center;
}
table {
    border-spacing:0px;
    position:absolute;
    left: 172px;
    top:98px;
}
td{
    width:94px;
    height:94px;

}
form{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    background-color: rgb(80,170,20);
}